.nav-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  width: 100vw;
  padding: 20px;
}

.nav-restro-heading {
  color: black;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
}

.cartCount {
  background-color: #f44336;
  color: white;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  align-items: center;
  padding-left: 5px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 15px;
}

.nav-cart-icon {
  height: 30px;
  width: 50px;
  margin-bottom: 20px;
  align-self: center;
  margin-top: 20px;
  margin-left: 0px;
}

.cart-card-show {
  display: flex;
}

.cart-count {
  display: flex;
  flex-direction: column;
}

.nav-restro-orders {
  color: #263238;
  font-family: Roboto;
  font-size: 15px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
}
.linker {
  text-decoration: none;
}

.nav-lagout {
  background-color: #1976d2;
  color: white;
  height: 35px;
  width: 70px;
  border-radius: 8px;
  border-width: 0px;
  align-items: center;
  display: flex;
  margin-right: 8px;
  justify-content: center;
  margin-top: 10px;
}

.cart-icon-btn{
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 576px) {
  .nav-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    width: 100vw;
  }
  .nav-restro-heading {
    color: black;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
  }
  .nav-restro-orders {
    color: #263238;
    font-family: Roboto;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 20px;
    display: none;
  }
  .nav-cart-icon {
    height: 20px;
    width: 40px;
    margin-bottom: 20px;
    align-self: center;
    margin-top: 20px;
    margin-left: 0px;
  }
  .cartCount {
    background-color: #f44336;
    color: white;
    border-radius: 50px;
    height: 25px;
    width: 25px;
    align-items: center;
    padding-left: 5px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 15px;
  }
}
